<!--LEFT NAVI-->
<div class="LeftNavi">

  <div class="ListArea">
    <p class="Category"><%= t("h2.session_home") %></p>
    <ul>

<!--
      <li class="Level1 <%= 'current' if controller_name == 'news' %>"><%= link_to t('labels.manager', :model => News.model_name.human), admin_news_index_path, :class => "l1" %>
        <% if  ['news'].include?(controller_name) %>
          <ul class="Level2">
            <li class=" <%= (action_name=='edit'||action_name=='index')&& controller_name=='news' ? 'on' :'' %>">
              <%= link_to t('labels.manager', :model => News.model_name.human), admin_news_index_path %>
            </li>
            <li class="last <%= action_name=='new'&& controller_name=='news' ? 'on' :'' %>">
              <%= link_to t('labels.add_manager', :model => News.model_name.human), new_admin_news_path %>
            </li>
          </ul>
        <% end %>
      </li>


      <li class="Level1 <%= 'current' if controller_name == 'ads' %>"><%= link_to t('labels.manager', :model => Ad.model_name.human), admin_ads_path, :class => "l1" %>
        <% if  ['ads'].include?(controller_name) %>
          <ul class="Level2">
            <li class=" <%= (action_name=='edit'||action_name=='index')&& controller_name=='ads' ? 'on' :'' %>">
              <%= link_to t('labels.manager', :model => Ad.model_name.human), admin_ads_path %>
            </li>
            <li class="last <%= action_name=='new'&& controller_name=='news' ? 'on' :'' %>">
              <%= link_to t('labels.add_manager', :model => Ad.model_name.human), new_admin_ad_path %>
            </li>
          </ul>
        <% end %>
      </li>



      <li class="Level1 <%= 'current' if controller_name == 'musics' %>"><%= link_to t('labels.manager', :model => Music.model_name.human), admin_musics_path, :class => "l1" %>
        <% if  ['musics'].include?(controller_name) %>
          <ul class="Level2">
            <li class=" <%= (action_name=='edit'||action_name=='index')&& controller_name=='musics' ? 'on' :'' %>">
              <%= link_to t('labels.manager', :model => Music.model_name.human), admin_musics_path %>
            </li>
            <li class="last <%= action_name=='new'&& controller_name=='musics' ? 'on' :'' %>">
              <%= link_to t('labels.add_manager', :model => Music.model_name.human), new_admin_music_path %>
            </li>
          </ul>
        <% end %>
      </li>


      <li class="Level1 <%= 'current' if controller_name == 'musicscategories' %>"><%= link_to t('labels.manager', :model => Musicscategory.model_name.human), admin_musicscategories_path, :class => "l1" %>
        <% if  ['musicscategories'].include?(controller_name) %>
          <ul class="Level2">
            <li class=" <%= (action_name=='edit'||action_name=='index')&& controller_name=='musicscategories' ? 'on' :'' %>">
              <%= link_to t('labels.manager', :model => Musicscategory.model_name.human), admin_musicscategories_path %>
            </li>
            <li class="last <%= action_name=='new'&& controller_name=='musicscategories' ? 'on' :'' %>">
              <%= link_to t('labels.add_manager', :model => Musicscategory.model_name.human), new_admin_musicscategory_path %>
            </li>
          </ul>
        <% end %>
      </li>


      <li class="Level1 <%= 'current' if controller_name == 'monthstars' %>"><%= link_to t('labels.manager', :model => Monthstar.model_name.human), admin_monthstars_path, :class => "l1" %>
        <% if  ['monthstars'].include?(controller_name) %>
          <ul class="Level2">
            <li class=" <%= (action_name=='edit'||action_name=='index')&& controller_name=='monthstars' ? 'on' :'' %>">
              <%= link_to t('labels.manager', :model => Monthstar.model_name.human), admin_monthstars_path %>
            </li>
            <li class="last <%= action_name=='new'&& controller_name=='news' ? 'on' :'' %>">
              <%= link_to t('labels.add_manager', :model => Monthstar.model_name.human), new_admin_monthstar_path %>
            </li>
          </ul>
        <% end %>
      </li>
-->

      <li class="Level1 <%= 'current' if controller_name == 'yuexings' %>"><%= link_to t('labels.manager', :model => Yuexing.model_name.human), admin_yuexings_path, :class => "l1" %>
        <% if  ['yuexings'].include?(controller_name) %>
          <ul class="Level2">
            <li class=" <%= (action_name=='edit'||action_name=='index')&& controller_name=='yuexings' ? 'on' :'' %>">
              <%= link_to t('labels.manager', :model => Yuexing.model_name.human), admin_yuexings_path %>
            </li>
            <li class="last <%= action_name=='new'&& controller_name=='news' ? 'on' :'' %>">
              <%= link_to t('labels.add_manager', :model => Yuexing.model_name.human), new_admin_yuexing_path %>
            </li>
          </ul>
        <% end %>
      </li>


      <li class="Level1 <%= 'current' if controller_name == 'jpops' %>"><%= link_to t('labels.manager', :model => Jpop.model_name.human), admin_jpops_path, :class => "l1" %>
        <% if  ['jpops'].include?(controller_name) %>
          <ul class="Level2">
            <li class=" <%= (action_name=='edit'||action_name=='index')&& controller_name=='jpops' ? 'on' :'' %>">
              <%= link_to t('labels.manager', :model => Jpop.model_name.human), admin_jpops_path %>
            </li>
            <li class="last <%= action_name=='new'&& controller_name=='news' ? 'on' :'' %>">
              <%= link_to t('labels.add_manager', :model => Jpop.model_name.human), new_admin_jpop_path %>
            </li>
          </ul>
        <% end %>
      </li>


      <li class="Level1 <%= 'current' if controller_name == 'users' %>"><%= link_to t('labels.manager', :model => User.model_name.human), admin_users_path, :class => "l1" %>
        <% if  ['users'].include?(controller_name) %>
          <ul class="Level2">
            <li class=" <%= (action_name=='edit'||action_name=='index')&& controller_name=='users' ? 'on' :'' %>">
              <%= link_to t('labels.manager', :model => User.model_name.human), admin_users_path %>
            </li>
            <li class="last <%= action_name=='new'&& controller_name=='news' ? 'on' :'' %>">
              <%= link_to t('labels.add_manager', :model => User.model_name.human), new_admin_user_path %>
            </li>
          </ul>
        <% end %>
      </li>

      <li class="Level1 <%= 'current' if controller_name == 'fcks' %>"><%= link_to 'FCK图片管理', admin_fcks_path, :class => "l1" %>
        <% if  ['fcks'].include?(controller_name) %>
          <ul class="Level2">
            <li class=" <%= (action_name=='edit'||action_name=='index')&& controller_name=='fcks' ? 'on' :'' %>">
              <%= link_to 'FCK图片管理', admin_fcks_path %>
            </li>
            <li class="last <%= action_name=='index'&& controller_name=='fcks' ? 'on' :'' %>">
              <%= link_to 'FCK图片管理', admin_fcks_path %>
            </li>
          </ul>
        <% end %>
      </li>

      <li class="Level1 <%= 'current' if controller_name == 'pages' %>"><%= link_to '网站静态页面', admin_pages_path, :class => "l1" %>
        <% if  ['pages'].include?(controller_name) %>
        <ul class="Level2">

          <% Page.all.each do |page|  %>
            <li class="">
              <%= link_to page.name, edit_admin_page_path(page) %>
            </li>
          <% end %>
          <li class="last">
            <%= link_to "添加模块", new_admin_page_path %>
          </li>
        </ul>
        <% end %>
      </li>




    </ul>
  </div>
</div>
