<% form_for [:admin,  instance_variable_get("@#{controller_name.singularize}")], :url => path, :html => {:multipart => true ,:id => 'form'} do |form| %>
  <div class="RightOperation">
    <div class="PostBox">
      <h4><%= t('labels.public') %></h4>
      <div class="PostBtn">
        <p>
          <%=  image_submit_tag '/assets/admin/btn_post.png' %>
        </p>
        <br class="clear" />
      </div>
    </div>
  </div>
  <div class="LeftNew">
    <div class="Inner">

      <%=render :partial => "/admin/shared/errors" ,:locals =>{:model => instance_variable_get("@#{controller_name.singularize}") }  %>
      <div class="AcceNew">
        <dl>
          <dt><%= Administrator.human_attribute_name("name") %></dt>
          <dd>  <%= form.text_field :name ,:class => 'style1' %>
          </dd>
        </dl>
     <dl>
      <dt><%= Administrator.human_attribute_name("password") %></dt>
      <dd> <%= form.password_field :password, :class => 'style1' %>
      </dd>
    </dl>
    
     <dl>
      <dt><%= Administrator.human_attribute_name("password_confirmation") %></dt>
      <dd> <%= form.password_field :password_confirmation ,  :class => 'style1' %> 
      </dd>
    </dl>
      </div>
      <div class="PostBtn">
        <p>
          <%= form.submit t('labels.save')  , :class=>"btnW2_search" %>
        </p>
        <br class="clear" />
      </div>
    </div>
  </div>
<% end %>

