<div class="BodyContents">
  <div class="TitleArea">
    <h2><%= t('labels.manager', :model => Administrator.model_name.human) %></h2>

    <p class="btnW5"> <%= link_to t('labels.add_manager', :model => Administrator.model_name.human), new_admin_administrator_path %></p>
  </div>

  <%= render :partial => "/admin/shared/notice" %>
 
  <!--OPERATION-->
 
  <!--LIST-->
  <div class="ListContents">
    <table cellspacing="0" cellpadding="0" border="0" class="widefat">
      <tbody>

      <tr>
        <th class="lineB " scope="col">
      ID
        </th>
        <th class="lineB " scope="col">
          NAME
        </th>
        <th class="lineB operation-column" scope="col">操作</th>
      </tr>

    <% @administrators.each do |administrator| %>
          <%- cycle_class = cycle('Blue', '') %>
          <tr>
            <td class="<%= cycle_class %>"><%= administrator.id %></td>
            <td class="<%= cycle_class %>"><%= administrator.name %></td>
            <td class="<%= cycle_class %>">
	          <%= link_to t('labels.edit'), edit_admin_administrator_path(administrator) %><br/>
	          <%= link_to t('labels.delete'), admin_administrator_path(administrator), :confirm => "are your sure?", :method => :delete %><br/>
              <br/>
            </td>
          </tr>
      <% end %>
      <tr>
        <th class="lineB " scope="col">
      ID
        </th>
        <th class="lineB " scope="col">
          NAME
        </th>
        <th class="lineB operation-column" scope="col">操作</th>
      </tr>

      </tbody>
    </table>


  </div>
 
</div>

<% if false %>


<div id="main">
  <h2><%= t('h2.administrators') %></h2>

  <div class="btn_t btn_add">
    <input type="button" class="btn_s" value="<%= t('labels.new') %>" onclick="location.href='/admin/administrators/new'"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </div>

  <table class="data2 order-table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>创建时间</th>
      <th><%= t('labels.operate') %></th>
    </tr>
    <% @administrators.each do |administrator| %>
      <tr class="<%= cycle("", "even") %>">
        <td><%= administrator.id %></td>
        <td><%= administrator.name %></td>
        <td><%= parse_date administrator.created_at %></td>
        <td>
          <%= link_to t('labels.edit'), edit_admin_administrator_path(administrator) %><br/>
          <%= link_to t('labels.delete'), admin_administrator_path(administrator), :confirm => "are your sure?", :method => :delete %><br/>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<% end %>